body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Navbar {
  display: flex;
}

.title {
  color: white;
  margin: 0px;
  text-align: center;
  padding-left: 70%;
}

.icon{
  margin-right: 10px;
}

.body{
  text-align: center;
  margin: 50px;
}

input{
  width: 300px;
}

.description{
  width: 800px;
  height: 200px;
}